/* General Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure body takes up full viewport height */
  background-color: #dbdbdb;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

footer {
  background-color: #0078d7;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

header {
  background-color: #0078d7;
  color: white;
  text-align: center;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

main {
  padding: 30px;
  min-height: calc(100vh - 200px); /* Adjust to fit footer and header spacing */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

li {
  margin: 5px;
  text-align: left;
}

p {
  margin: 2px;
}

#dark-mode-toggle {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #0078d7;
  color: #ffffff;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

#dark-mode-toggle:hover {
  background-color: #005bb5;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

header.dark-mode {
  background-color: #1e1e1e;
  border-bottom: 1px solid #333;
}

#dark-mode-toggle.dark-mode {
  background-color: #444444;
  color: #f0f0f0;
}

.card.dark-mode {
  background-color: #1e1e1e;
  border: 1px solid #444;
}

.card-info.dark-mode {
  background-color: #2a2a2a;
  color: #f0f0f0;
}

.button-container {
  width: 80%;
  justify-self: center;
}

/* Search Section */
#search-section {
  margin-bottom: 40px;
  width: 100%;
}

#card-search-bar {
  display: flex;
  gap: 10px;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

#card-search-bar select,
#card-search-bar input,
#card-search-bar button {
  padding: 0.5rem;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#card-search-bar button.clicked {
  background-color: #0056b3;
  color: white;
  transition: background-color 0.2s;
}

/* Mobile Styling */
@media (max-width: 767px) {
  #card-search-bar {
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the left */
    gap: 15px;
    border-radius: 10px;
  }

  #card-search-bar select,
  #card-search-bar input {
    padding: 0.5rem;
    width: 90%;
    margin: auto;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #search-button {
    margin: auto;
  }
}

#autocomplete-results {
  position: fixed;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  display: none;
  border-radius: 4px;
  width: 20%;
  margin-top: 40px;
  color: #000000;
}

.autocomplete-item {
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}

.autocomplete-item:hover {
  background-color: #0078d7;
  color: white;
}

/* Search Results */
#results-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  height: auto;
  padding: 1rem;
  border-radius: 4px;
}

.filter-button {
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.filter-button:hover {
  background-color: #0056b3;
}

.filter-button.active {
  background-color: #004494;
  font-weight: bold;
}

/* Responsive Grid for Search Results and Deck */
@media (min-width: 768px) {
  #results-grid,
  #deck-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 767px) {
  #results-grid,
  #deck-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  h2 button {
    width: 50%;
  }
}

/* Your Deck Section */
#deck-section {
  height: auto;
  margin-top: 20px;
  padding-bottom: 50px; /* Prevent stack from touching the footer */
}

#deck-section button,
#search-section button {
  padding: 6px 12px;
  margin: 4px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#deck-section button:hover {
  background-color: #0056b3;
}

#deck-section .remove-button {
  padding: 6px 12px;
  margin: 4px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ff4b45;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#deck-section .remove-button:hover {
  background-color: #d1403b;
}

#deck-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 1rem;
  background-color: white;
  border-radius: 4px;
  overflow: auto; /* Allow scrolling if content overflows */
  max-height: calc(100vh - 250px); /* Ensure it fits within the viewport */
}

.reorder-button {
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
}

.reorder-button:hover {
  background-color: #0056b3;
}

#your-deck h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#your-deck button {
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0078d7;
  color: #ffffff;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

#your-deck button:hover {
  background-color: #005bb5;
}

/* Card Styles */
.card {
  position: relative;
  height: auto;
  width: 250px;
  text-align: center;
  overflow: visible; /* Ensure the card container allows stacked cards to display fully */
  padding: 10px; /* Add extra padding to account for taller stacks */
  border-radius: 8px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card-stack {
  position: relative;
  width: 100%;
  height: auto; /* Allow dynamic height based on the number of stacked cards */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; /* Add spacing between card stack and card info */
}

.stacked-card {
  position: absolute;
  width: 100%;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card-info {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-info button {
  margin-top: 8px;
  padding: 6px 10px;
  font-size: 14px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.card-info button:hover {
  background-color: #d93636;
}

/* Overlay for Expanded Views */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.expanded-card-container {
  width: 660px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  justify-items: center;
}

.expanded-card-container img {
  height: 600px;
  margin: auto;
}

.expanded-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

@media (max-width: 767px) {
  .expanded-card-container {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    justify-items: center;
  }

  .expanded-card-container img {
    width: 80%;
    height: auto;
    object-fit: contain;
  }

  .expanded-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
  }
}

.details-list {
  display: flex;
  margin: 10px;
  justify-content: center;
  gap: 20px;
  width: fit-content;
}

.add-button {
  background-color: #0078d7;
  color: white;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}

.add-button:hover {
  background-color: #0056b3;
}

/* Overlay Adjustments for Mobile */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.expanded-card-container {
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Dark Mode for Expanded Overlay */
body.dark-mode .overlay {
  background: rgba(18, 18, 18, 0.95);
}

body.dark-mode .expanded-card-container {
  background-color: #1e1e1e;
  color: #f0f0f0;
  border: 1px solid #444444;
}

body.dark-mode .expanded-card-container img {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .details-list {
  background-color: #2a2a2a;
  color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
}

body.dark-mode .add-button {
  background-color: #444444;
  color: #f0f0f0;
}

body.dark-mode .add-button:hover {
  background-color: #555555;
}

@media (max-width: 767px) {
  .add-button,
  .remove-button {
    padding: 8px;
    font-size: 16px;
  }
}
